<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cniao5.login">


    <application
        android:name=".LoginApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/module_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/CommonTheme">
        <activity
            android:name="com.cniao5.login.LoginActivity"
            android:launchMode="singleTop"
            android:label="@string/module_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

    </application>
</manifest>